body{
    background-color: rgb(7, 0, 110);
}
h1{
    font-size: 30px;
    color: rgb(179, 28, 11);
}
h2{
    font-size: 35px;
    color:aqua;
}
.big{
    font-size: 80px;
}
.uppercase{
    text-transform: uppercase;
}
h1 span{
    color:blueviolet;
}